<!--styl pozadí-->
body {
  background-color: powderblue;
}
h1 {
  color: blue;
  text-align: center;
  font-size: 300%;
  border: 2px solid black;
  background-color: whitesmoke;

  <!-- tabulka-->
}
table, th, td {
  border:1px solid black;
}
tr:nth-child(even) {
  background-color: #D94E26;
}

tr:nth-child(even) {
  background-color: #1FB4E4;
}
tr:nth-child(odd) {
  background-color: #FFFFFF;
}

<!--pismo-->
p{
  border: 2px solid black;
  background-color: whitesmoke;
  font-size: 200%;
  text-align: center;
}

<!--obrazek-->
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
